<div class="modal fade" id="viewTodoModal" tabindex="-1" aria-labelledby="viewTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTodoModalLabel">View ToDo Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="viewTitle" class="form-label">To-Do Title</label>
                    <input type="text" class="form-control" id="viewTitle" name="Title" readonly />
                </div>
                <div class="mb-3">
                    <label for="viewStatus" class="form-label">Status</label>
                    <input type="text" class="form-control" id="viewStatus" name="IsCompleted" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>