@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Welcome to the To-Do List Application</h1>
        <p class="lead">Manage your tasks efficiently with our simple and intuitive interface.</p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg mt-4">Proceed to Application</a>
    </div>
</div>
